* {
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
}

/* header */
.title-header h1 {
    background-color: rgb(130, 130, 231);
    color: rgb(0, 0, 0);
    padding: 20px;

}

.menu-header ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(46, 46, 85);
}

a {
    text-decoration: none;
    color: rgb(153, 136, 113);
}

a:hover {
    background-color: rgb(213, 140, 31);
}



/* css cho bảng loại hàng */
#lh {
    color: aliceblue;
    padding: 5px;
    background-color: black;
}

.list_lh thead {
    background-color: cadetblue;
    color: black;
    padding: 5px;
    border: 1px solid;

}

.list_lh td {
    border: 1px solid;
    padding: 2px;
    width: 400px;

}

.list_lh tr {
    display: block;
    text-align: center;
}

td {
    width: 190px !important;
}