.banner .img {
    width: 100% !important;
    height: 500px !important;
    object-fit: contain !important;
}



.title {
    margin: 30px 0;
    margin-top: 60px;
}

footer {
    height: 100px;
    background-color: black;
    margin: 60px 0;
}

.about img {
    width: 100%;

}

.about .negative {
    background-color: bisque;
    border-radius: 10px;
    width: 70%;
    margin: 50px 0;
    padding: 10px;

    left: 200px;

}




#sale {
    background-color: brown;
    border: 5px solid yellow;
    border-radius: 30px;
    padding: 10px;
    color: antiquewhite;
    margin-left: 2px;
    font-size: 16px;
    width: 100px;

}

a {

    text-decoration: none;
}

.nav-link .cmt-img {
    width: 5% !important;
    border-radius: 80px;
}

.cmt-per {
    color: black;
    font-weight: 700;

}

.cmt-perAD {
    color: rgb(246, 12, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.cmt-content {

    color: black;
    font-weight: 100;
}

#menu2 a {
    color: black;
    width: 200px;
    margin: 10px 20px;
    padding: 10px;

}

#cmt {
    position: fixed;
    right: 20px;
}

#menu2 a:hover {
    background-color: rgb(141, 141, 239);
}

#img-detail {
    width: 630px;
}

.user {
    width: 200px !important;
    border: 1px solid !important;
    height: 100px !important;
    color: black;
}

.user p {
    margin-left: 20px !important;
    margin-top: 20px !important;
}

.user-img {
    width: 150px !important;
    border-radius: 1000px;
}

#user-img {
    width: 150px !important;
    border-radius: 1000px;
}

#noti {
    color: red;
}

.form-sign {

    width: 250px;
    margin: 10px 0px;
    padding: 5px;


}

a:hover {
    background-color: rgb(231, 164, 115);
    text-decoration: underline;

}

#ad {
    color: rgb(95, 7, 98);
}

.form-sign div {
    margin: 10px 10px;
    margin-right: 10px;
}

#hint {
    background-color: #198754;
    padding: 4px;
    border-radius: 2px;
    color: aliceblue;
}



.accContent {
    display: none;
    transition: height 2s;
}

#acc {

    color: black;
    padding: 4px;
    width: 40px;
    font-size: 30px;
    align-items: center;

}



#acc:hover {
    opacity: 1;
}

#acchide {
    margin-top: 20px;
    line-height: 2;
    color: black;
    font-size: 16px;

}



#table td {

    border: 1px solid;
    height: 10px;

}

#table thead td {
    width: auto !important;
    border: 1px solid;
    height: 10px;

}

.act {
    background-color: gray;
}